astroid==2.4.2
Cython==0.29.21
isort==5.5.3
lazy-object-proxy==1.4.3
Mako==1.1.3.dev0
Markdown @ file:///buildstream/freedesktop-sdk/components/python3-markdown.bst
mccabe==0.6.1
meson @ file:///buildstream/freedesktop-sdk/components/meson.bst
Pygments==2.6.1.dev20200824
pylint==2.6.0
six==1.15.0
toml==0.10.1
wrapt==1.12.1
Pillow==9.3.0

